### Importamos nuestra librerías

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from sklearn import metrics

In [6]:
from imblearn.over_sampling import RandomOverSampler

In [7]:
import sys
sys.path.insert(1, '..')
from utils import functions as func

In [ ]:
data_player = func.load_dataset(path = "data\processed\Datos_Clasif.csv",
                                separador=';',
                                codif='utf-8')

In [ ]:
dict_goles = {}
for pos, value in enumerate(data_player['goals']):
    if value <= 5:
        dict_goles[value] = 0
    elif 5 <= value <= 10:
        dict_goles[value] = 1
    elif 10 < value <= 15:
        dict_goles[value] = 2
    elif 15 < value <= 20:
        dict_goles[value] = 3            
    elif 20 < value <= 25:
        dict_goles[value] = 4
    elif 25 < value <= 30:
        dict_goles[value] = 5
    else:
        dict_goles[value] = 6

In [ ]:
data_player = func.cambia_valores(data = data_player, nombre_columna = 'goals', dicc_valores= dict_goles)

In [ ]:
data_player['goals'].unique()

array([0., 1., 2., 3., 6., 4., 5.])

In [ ]:
data_player.drop('Unnamed: 0', axis = 'columns', inplace= True)

In [ ]:
data_player

,position,squad,minutes,xg_per90,shoots_on_t_x_game,passes_x_game,dribbles_x_game,goals
0,8,4,1037.0,0.08,0.173913,1.217391,1.043478,0.0
1,3,8,2320.0,0.04,0.074074,3.037037,0.370370,0.0
2,3,4,2138.0,0.02,0.041667,1.708333,0.458333,0.0
3,3,8,2189.0,0.05,0.240000,4.720000,0.240000,0.0
4,6,4,2438.0,0.11,0.266667,3.066667,0.566667,0.0
...,...,...,...,...,...,...,...,...
6442,8,4,289.0,0.49,0.444444,0.333333,1.000000,0.0
6443,3,4,2705.0,0.09,0.242424,3.606061,0.212121,0.0
6444,8,4,2605.0,0.12,0.108108,1.081081,4.216216,0.0
6445,3,4,163.0,0.00,0.000000,3.500000,0.500000,0.0
6446,3,4,652.0,0.05,0.000000,0.625000,1.125000,0.0

In [ ]:
X_train, X_test, y_train, y_test = func.split_train_set(data = data_player, test_prop = 0.2, rand_st = 5, target_name = 'goals')

In [ ]:
np.unique(y_test)

array([0., 1., 2., 3., 4., 5., 6.])

In [ ]:
ros = RandomOverSampler(random_state=42)
X_train, y_train = ros.fit_resample(X_train, y_train)

In [ ]:
func.save_train_sets(path = "D:\Jesus\BootCampThe_Bridge\Clases\Alumno\Entregables\Proyecto_ML\src\data\processed/train_corr_clas.npz", 
                               tupla_datos = (X_train, X_test, y_train, y_test))